:root{
    --home-rain: url(icons/home-rain.svg);
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{

}
main{
    height: 50rem;
    width: 68rem;
    background-image:linear-gradient(45deg, rgba(18, 110, 220, 0.47), rgb(240, 248, 248));
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.weather{
    height: 40rem;
    width: 58rem;
    background-color: #ffffff;
    position: absolute;
    top: 13.5%;
    left: 7.5%;
    border-radius: 0.3rem;}
.container1{
    display: flex;
    justify-content: center;
}

.search-container{
    margin-top: 1.2rem;
}
.search{
    display: inline;
}
input{
    width: 44rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    border-color: #428ded;
    background-color: #dff2ff;
}
input::placeholder{
    color: #687377;
    font-size: 1.2rem;
}
button.search{
    border: none;
    background-color: #428ded;
    width: 10rem;
    height: 3.5rem;
    border-radius: 0.4rem;
    color: white;
    font-size: 1.2rem;
}
button.search:hover{
    cursor: pointer;
}
ul{
    margin-left: 2rem;
}
.ov-list{
    list-style: none;

}
#one{
    font-size: 1.5rem;
    color: #428ded;
}
#two{
    font-size: 1.5rem;
    color: #428ded;

}
#three{
    font-size: 1.5rem;
    color: #428ded;
}
.girl img{
    width: 20rem;
    height: 20rem;
    transform: scaleX(-1);
    float: right;
}
.show-stats{
    margin-top: 4.5rem;
    margin-left: 4rem;
}
.show-stats span{
    font-size: 5.2rem;
}
.show-stats i{
    font-size: 5.2rem;
    color: #84bbca;
}
#other-weather{
    margin-top: 12rem;
}
#other-weather ul{
    display: inline;
}
#other-weather li{
    list-style: none;
    display: inline-block;
    font-size: 3.2rem;
    margin-left: 1.3rem;
}
#other-weather button{
    color: #5b7caa;
    height: 3rem;
    width: 5rem;
    background-color: rgba(189, 236, 239, 0.38);
    margin-bottom: 1rem;
    border-radius: 0.4rem;
    border-color: rgba(66, 141, 237, 0.51);
    position: absolute;
    top: 86%;
    right: 7%;
}
#other-weather button:hover{
    cursor: pointer;
}
.fa-cloud-bolt{
    color: rgba(55, 161, 248, 0.62);
}
.fa-snowflake{
    color: rgb(190, 244, 255);
    text-shadow: #024d68 -2px 6px 11px;
}
.fa-rainbow{
    background: linear-gradient(45deg,red,orange,yellow,green,cyan,blue,violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: hue 5s linear infinite;
}
.fa-moon{
    color: #edffa4;
}
.fa-sun-plant-wilt{
    color: #738e5a;
}
.fa-cloud-sun{
    background: linear-gradient(45deg, rgb(0, 160, 205), rgb(253, 239, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    animation: hue 5s linear infinite;
}
.fa-wind{
    color: #69627a;
}
.fa-hurricane{
    color: rgba(168, 126, 102, 0.62);
}